<div class="dog-adoption-container">
  <div class="dog-photo">
    <img src="{{ dog.pictures[0] }}" alt="Photo of {{ dog.name }}" />
  </div>
  <div class="dog-summary">
    <h1 class="title">{{ dog.name }}</h1>
  </div>
  <div class="dog-details">
    <div class="dog-info">
      <i class="fa-solid fa-cake-candles icon"></i>
      Age: {{ dog.age }}
    </div>
    <div class="dog-info">
      <i class="fa-solid fa-mars icon"></i>
      Gender: {{ dog.gender }}
    </div>
    <div class="dog-info">
      <i class="fa-solid fa-weight-scale icon"></i>
      Weight: {{ dog.weight }} kg
    </div>
  </div>
  <div class="dog-description">
    <p>
      {{ dog.description }}
    </p>
  </div>
  <div class="actions">
    <button class="info-button" (click)="goToAdoptionPage(dog.id)">
      Adoption Form
    </button>
  </div>
</div>
