<div class="cards-container">
  <mat-card class="dog-card" *ngFor="let dog of sortedDogs; index as i">
    <mat-card-header>
      <mat-card-title class="title">{{ dog.name }}</mat-card-title>
      <mat-card-subtitle class="subtitle">{{ dog.breed }}</mat-card-subtitle>
    </mat-card-header>

    <img
      mat-card-image
      [src]="dogThumbnail(i)"
      alt="Photo of {{ dog.name }}"
      class="dog-image"
    />

    <mat-card-content>
      <p class="description">{{ dog.description }}</p>
    </mat-card-content>
    <mat-card-actions class="actions">
      <button
        (click)="goToPage('/about-dog/' + dog.id)"
        mat-button
        class="info-button"
      >
        More info
      </button>
      <div class="action-buttons">
        <button type="button" (click)="editDog(dog.id)" class="edit-button">
          <span class="material-symbols-outlined"> edit </span>
        </button>
        <button
          type="button"
          (click)="deleteDog(dog.id, i)"
          class="remove-button"
        >
          <span class="material-symbols-outlined"> delete </span>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
